
  <div class="flex items-center justify-between mb-4">
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-2">
        <app-icon [iconName]="'UserGroupIcon'" [iconSize]="16" [iconColor]="'#d32e18'"></app-icon>
        <h1 class="text-xl lg:text-lg">رحلات مشتركة</h1>
      </div>
      <p class="text-xs text-ink-muted">عدّ تنازلي مباشر للمغادرة لكل صديق</p>
    </div> 
    <button class="flex items-center gap-2 rounded-lg bg-brand px-2 py-2 text-sm font-semibold text-brand-foreground hover:bg-brand/90 transition-all">
        <app-icon [iconName]="'PlusSignIcon'" [iconSize]="16" [iconColor]="'currentColor'"></app-icon>ادعُ 
    </button>
  </div>

 @if (this.mapStore.trips().length !== 0) {
  @for (trip of mapStore.trips(); track $index) {
    <div class="rounded-xl bg-ink p-4 mb-3 border border-ink-border">
    <div class="flex items-start justify-between">
      <div class="flex flex-col gap-2">
        <h2 class="text-lg lg:text-sm">{{trip.tripTitle || 'null'}}</h2>       
        <div class="flex items-center gap-1.5 text-xs lg:truncate text-ink-muted">
        <app-icon [iconName]="'Location01FreeIcons'" [iconSize]="16" [iconColor]="'currentColor'"></app-icon>
          {{trip.location}}
        </div>
        
        <div class="flex items-center gap-1.5 text-xs text-ink-muted">       
        <app-icon [iconName]="'Clock02Icon'" [iconSize]="16" [iconColor]="'currentColor'"></app-icon>
          بدأ منذ {{trip.startTime}} د
        </div>
      </div>
      
      <div class="flex flex-col items-end gap-1.5">
        <div class="flex items-center">
            <span class="text-ink-muted text-xs">اللقاء</span>
            <span (click)="toggleTripMenu($index)" class="relative cursor-pointer"><app-icon [iconName]="'MoreVerticalCircle01FreeIcons'" [iconSize]="10" [iconColor]="'currentColor'"></app-icon>
            
                 @if (trip.showTripMenu) {
                    <div class="absolute border border-ink-border bottom-5 left-0 p-3 w-28 h-12 rounded-lg bg-ink-2">
                <span (click)="deleteTrip($index)" class="flex gap-1 items-center justify-center text-primary-500">
                    <app-icon [iconName]="'Delete01FreeIcons'" [iconSize]="12" [iconColor]="'#d32e18'"></app-icon> إزالة الرحلة
                </span>
            </div>
                 }
            
            </span>
        </div>
        <span class="text-sm lg:text-xs">{{trip.appointmentTime}}</span>
        <div class="mt-2 flex items-center gap-1.5 bg-(--success-bg) text-success text-[8px] px-2.5 w-fit lg:px-0 lg:w-10 lg:gap-0 py-1 xl:w-fit xl:px-2 rounded-full ">
            قادم {{comingCount()}} / {{frindsArray().length}}
        </div>
      </div>
    </div>
    <!-----------friends-list-------------->
    <div class="space-y-2.5 my-2">
    
    @for (friend of frindsArray(); track $index) {
        <div class="bg-ink-2 p-2 py-1 rounded-xl flex items-center justify-between gap-3 text-sm">
          <div class="flex items-center gap-3">
        <div class="w-8 h-8 rounded-full bg-ink flex items-center lg:text-sm justify-center font-bold text-ink-muted">{{friend.name.charAt(0)}}</div>
        <div class="flex flex-col gap-1">
            <!--edit-->
          <div class="flex items-center gap-2 group transition-all duration-500">
           @if (!friend.isEditing) {
              @if(friend.name === currentUser){  
              <span class="font-medium lg:text-xs cursor-pointer" (click)="friend.isEditing = true">{{ friend.name }}</span>
              <span class="opacity-0 group-hover:opacity-100 text-xs text-ink-muted cursor-pointer " (click)="friend.isEditing = true">✎</span>
              } @else {
                
              <span class="font-medium lg:text-xs cursor-pointer">{{ friend.name }}</span>
              }
           } @else {
                @if (friend.name === currentUser) {
                       <input 
      #nameInput
      [value]="friend.name"
      (keydown.enter)="updateFriendName($index, nameInput.value)"
      class="border-none rounded px-1 outline-none focus:ring-1 focus:ring-primary-500 text-sm w-24"
      autofocus
                />   
                <span (click)="updateFriendName($index, nameInput.value)" class="cursor-pointer"><app-icon [iconName]="'Check'" [iconSize]="14" [iconColor]="'#0d542b'"></app-icon></span>
                }
            }
          </div>
          <div class="flex items-center gap-1">
            @if (friend.transport_mode === 'car') {
            <span class="text-primary-500"><app-icon [iconName]="'Car01FreeIcons'" [iconSize]="10" [iconColor]="'#d32e18'"></app-icon></span>
            }@else {
            <span class="text-primary-500"><app-icon [iconName]="'WalkingFreeIcons'" [iconSize]="10" [iconColor]="'#d32e18'"></app-icon></span>
            }
            @if (friend.states === 'وصل') {
               <span class="text-xs lg:text-[10px] text-primary-500">وصل</span>
            }@if(friend.states === 'في الطريق') {
               <span class="text-xs lg:text-[10px] text-primary-500">تأخير {{friend.late}} د - وصول{{friend.arrive}} د - {{friend.distance}} km</span>
            }@if (friend.states === 'أعتذر') {
               <span class="text-xs lg:text-[10px] text-ink-muted line-through">أعتذر</span>
            }
          </div>
        </div>
          </div>
          <div class="relative">
            @if (friend.name === currentUser) {
              <button (click)="toggleMenu($index)">
                <app-icon [iconName]="'MoreVerticalCircle01FreeIcons'" [iconSize]="12" [iconColor]="'currentColor'"></app-icon>
              </button>
            }

      @if (friend.showMenu) {
        <div class="absolute left-0 bottom-full mb-2 w-40 bg-ink-2 border border-ink-border rounded-lg shadow-xl z-50 overflow-hidden">
          <button (click)="enableEdit($index)" class="w-full cursor-pointer flex items-center gap-2 px-3 py-2 text-sm">
             <span class="text-xs">✎</span> تعديل الاسم
          </button>
          <button (click)="updateFriendState($index,'وصل')" class="w-full cursor-pointer flex items-center gap-2 px-3 py-2 text-sm">
            <app-icon [iconName]="'Location01FreeIcons'" [iconSize]="14" [iconColor]="'#d32e18'"></app-icon> وصل
          </button>
          <button (click)="updateFriendState($index,'أعتذر')" class="w-full cursor-pointer flex items-center gap-2 px-3 py-2 text-sm">
            <app-icon [iconName]="'Close'" [iconSize]="14" [iconColor]="'currentColor'"></app-icon> أعتذر
          </button>
          <button (click)="deleteFriend($index)" class="w-full cursor-pointer flex items-center gap-2 px-3 py-2 text-sm text-primary-500 border-t border-gray-700">
             <app-icon [iconName]="'Delete01FreeIcons'" [iconSize]="14" [iconColor]="'#d32e18'"></app-icon> إزالة
          </button>
        </div>
      }
    </div>
        </div>
    }

 <!------------------------------------>

  <!--chat-->
  
  
  
  <div class="max-w-md mx-auto bg-ink-3 rounded-xl shadow-sm border border-ink-border overflow-hidden" dir="rtl">
  
  <div class="flex items-center justify-between p-4 border-b border-ink-border bg-ink-2">
    <div class="flex items-center gap-2">
      <span class="bg-primary-500 text-white text-xs w-5 h-5 flex items-center justify-center rounded-full">{{mapStore.trips()[0].chatMessages.length}}</span>
      <h3 class="text-ink-muted font-bold text-sm">محادثة الرحلة</h3>
    </div>
      <button (click)="toggelChat()" class="cursor-pointer text-primary-500 text-xs ease-in-out transition-all duration-500">{{isChatOpen() ? 'إخفاء' : 'إظهار'}}</button>
  </div>
@if (isChatOpen()) {
  <div class="p-4 relative">

    <div class="relative h-44 overflow-y-auto">
      @for (msg of mapStore.trips()[0]?.chatMessages; track msg.id) {
        <div class="mb-8 relative flex flex-col">
          <div class="flex justify-between w-full items-baseline">
            <span class="text-[10px] text-ink-muted">{{ msg.time }}</span>
            <span class="text-sm">{{ msg.sender }}</span>
          </div>
          <p class="text-ink-muted text-sm mt-1">{{ msg.text }}</p>
        </div>
      }
    </div>

    <div class="flex flex-wrap gap-2 mt-4 justify-center">
      <button (click)="mapStore.addMessage('متأخر 10 دقائق ⏱️')" class="border border-ink-border rounded-full px-4 lg:px-1 py-1 text-xs text-ink-muted flex items-center gap-1 hover:bg-ink-2">
        <span>⏱️</span> متأخر 10 دقائق
      </button>
      <button (click)="mapStore.addMessage('خرجت دلوقتي ⚡')" class="border border-ink-border rounded-full px-4 lg:px-2 py-1 text-xs text-ink-muted flex items-center gap-1 hover:bg-ink-2">
        <span>⚡</span> خرجت دلوقتي
      </button>
      <button (click)="mapStore.addMessage('وصلت 📍')" class="border border-ink-border rounded-full px-4 py-1 lg:px-7 text-xs text-ink-muted flex items-center gap-1 hover:bg-ink-2">
        <span>📍</span> وصلت
      </button>
    </div>

    <div class="mt-6 flex items-center gap-2 bg-ink-2 rounded-lg p-2">
       <button (click)="sendMessage()" class="bg-red-100 p-2 rounded-lg text-primary-500">
         <svg class="w-4 h-4 rotate-180" fill="currentColor" viewBox="0 0 20 20"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"/></svg>
       </button>
       <input 
       type="text"
       [value]="newMessageText()"
       (input)="newMessageText.set($any($event.target).value)"
      placeholder="اكتب..." 
      class="bg-transparent border-none focus:ring-0 text-right w-full text-sm text-ink-muted">
    </div>
  </div>
    }
</div>
  


    </div>
  </div>


  }
 }  