<section class="px-20 pt-14 min-h-screen">
    <h2 class="text-7xl text-(--fg-color) font-bold text-center my-0">اشترك لمزيد من الميزات !</h2>
    <div class="container grid grid-cols-1 md:grid-cols-3 mx-auto items-center gap-4 mt-16">
        <div class="border bg-(--card-bg) border-(--border-color) py-3 px-5 h-72 rounded-2xl">
            <p class="text-(--fg-color) font-bold text-3xl">مجاني</p>
            <p class="text-(--fg-color) border-b border-(--border-color) py-2">0 ج</p>
            <div class="flex flex-col justify-between h-40 mt-5">
                <div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">يوجد إعلانات</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">عدد محدود من المواعيد</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">متابعة على الخريطة</span>
                    </div>
                </div>
                <button class="btn-main-red w-full">اشتراك</button>
            </div>
        </div>
        <div class="relative bg-(--card-bg) pulse border-2 border-primary-500 py-3 px-5 h-80 rounded-2xl"> 
            <div class="absolute inline-flex items-center justify-center w-16 h-6 text-sm font-bold text-(--bg-color) bg-primary-500 border-2 border-transparent rounded-2xl top-5 inset-e-14">الأكثر شهرة</div>
            <p class="text-(--fg-color) font-bold text-3xl">مميز</p>
            <p class="text-(--fg-color) border-b border-(--border-color) py-2">200 ج</p>
            <div class="flex flex-col justify-between h-48 mt-5">
                <div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">بدون إعلانات</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">إضافة مواعيد بلا حدود</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">تنبؤ بوقت الخروج</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">تقارير شهرية بمواعيدك</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">دعوة الأصدقاء</span>
                    </div>
                </div>
                <button class="btn-main-red w-full">اشتراك</button>
            </div>
        </div>
        <div class="border bg-(--card-bg) border-(--border-color) py-3 px-5 h-72 rounded-2xl">
            <p class="text-(--fg-color) font-bold text-3xl">عمل</p>
            <p class="text-(--fg-color) border-b border-(--border-color) py-2">500 ج</p>
            <div class="flex flex-col justify-between h-40 mt-5">
                <div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">جميع ميزات "المميز"</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">إدارة و تنظيم الفعاليات</span>
                    </div>
                    <div class="flex items-center gap-2">
                    <app-icon [iconName]="'CheckCircle'" [iconSize]="20" [iconColor]="'#d32e18'"></app-icon>
                    <span class="text-xl text-(--muted-fg)">التحكم في قائمة المدعويين للفعاليات</span>
                    </div>
                </div>
                <button class="btn-main-red w-full">اشتراك</button>
            </div>
        </div>
    </div>
</section>