<section class="min-h-screen px-20">
    <div>
        <h2 class="text-7xl text-(--fg-color) font-bold text-center my-0">كل ما تحتاجه لتنظيم يومك !</h2>
        <p class="text-(--muted-fg) text-lg font-semibold text-center my-6">نقدم لك مجموعة متكاملة من الأدوات التي تجعل حياتك اليومية أكثر سهولة و إنتاجية .</p>
    </div>
    <div class="container grid grid-cols-2 md:grid-cols-4 mx-auto items-center gap-8 mt-16">
        <div class="px-6 h-72 flex flex-col justify-center rounded-3xl bg-(--card-bg) shadow-(--shadow-main)" data-aos="fade-up" data-aos-delay="100">
            <app-icon [iconName]="'Appointment01FreeIcons'" [iconColor]="'#d32e18'" [iconSize]="30"></app-icon>
            <p class="text-3xl mb-4 font-bold text-(--fg-color)">إدارة المواعيد</p>
            <p class="text-(--muted-fg) text-2xl">أضف مواعيدك الشخصية مع تحديد الوقت و التاريخ بدقة، و نظم يومك بسهولة تامة .</p>
        </div>
        <div class="px-6 h-72 flex flex-col justify-center rounded-3xl bg-(--card-bg) shadow-(--shadow-main)" data-aos="fade-up" data-aos-delay="400">
            <app-icon [iconName]="'Calendar01FreeIcons'" [iconColor]="'#d32e18'" [iconSize]="30"></app-icon>
            <p class="text-3xl mb-4 font-bold text-(--fg-color)">التقويم</p>
            <p class="text-(--muted-fg) text-2xl">أضف مواعيدك الشخصية مع تحديد الوقت و التاريخ بدقة، و نظم يومك بسهولة تامة .</p>
        </div>
        <div class="px-6 h-72 flex flex-col justify-center rounded-3xl bg-(--card-bg) shadow-(--shadow-main)" data-aos="fade-up" data-aos-delay="700">
            <app-icon [iconName]="'MapsSearchIcon'" [iconColor]="'#d32e18'" [iconSize]="30"></app-icon>
            <p class="text-3xl mb-4 font-bold text-(--fg-color)">تتبع الخريطة</p>
            <p class="text-(--muted-fg) text-2xl">أضف مواعيدك الشخصية مع تحديد الوقت و التاريخ بدقة، و نظم يومك بسهولة تامة .</p>
        </div>
        <div class="px-6 h-72 flex flex-col justify-center rounded-3xl bg-(--card-bg) shadow-(--shadow-main)" data-aos="fade-up" data-aos-delay="1000">
            <app-icon [iconName]="'UserGroup03FreeIcons'" [iconColor]="'#d32e18'" [iconSize]="30"></app-icon>
            <p class="text-3xl mb-4 font-bold text-(--fg-color)">الفعاليات</p>
            <p class="text-(--muted-fg) text-2xl">أضف مواعيدك الشخصية مع تحديد الوقت و التاريخ بدقة، و نظم يومك بسهولة تامة .</p>
        </div>
    </div>
</section>