<section class="min-h-screen">
<h2 class="text-7xl text-(--fg-color) font-bold text-center my-0">لماذا تختار بلان 
    <span class="text-primary-500">جو </span> ؟</h2>
<div class="container grid grid-cols-1 md:grid-cols-2 mx-auto items-center">
    <div class="flex flex-col gap-10">
        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-delay="100">
            <app-icon class="p-4 pb-1.5 bg-(--card-bg) rounded-2xl shadow-(--shadow-main)" [iconName]="'Notification01Icon'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">تنبيهات قبل الوصول</p>
                <span class="text-(--muted-fg) text-[20px]">تلقي تنبيهات قبل 30 دقيقة من موعدك ، لن تنسي أي إجتماع أو فعالية مهمة بعد اليوم .</span>
            </div>
        </div>
        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-delay="200">
            <app-icon class="p-4 pb-1.5 bg-(--card-bg) rounded-2xl shadow-(--shadow-main)" [iconName]="'Location01Icon'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">تتبع المسار الفوري</p>
                <span class="text-(--muted-fg) text-[20px]">تتبع حركتك علي الخريطة مباشرة حتى تصل إلي وجهتك ، مع تحديثات فورية لأفضل المسارات لتجنب الزحام .</span>
            </div>
        </div>
        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-delay="300">
            <app-icon class="p-4 pb-1.5 bg-(--card-bg) rounded-2xl shadow-(--shadow-main)" [iconName]="'ListPlusFreeIcons'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">الأهداف و المهام اليومية</p>
                <span class="text-(--muted-fg) text-[20px]">نظم مهامك اليومية و أهدافك الشخصية في مكان واحد ، مع إمكانية ربطها بمواعيد محددة و مواقع جغرافية .</span>
            </div>
        </div>
    </div>
    <div>
        <img class="w-full" src="/images/Map.png" alt="Map"/>
    </div>
</div> 
</section>