<div #mapContainer class="h-full w-full relative">
    <!--search-->
    <div class="absolute top-4 right-6 flex gap-3 z-10">
      <input #searchInput (keyup.enter)="onLocationEnter(searchInput.value)" type="text" class="relative bg-ink-2 pr-9 rounded-2xl border border-transparent shadow-xl ring-0 focus:border-gray-600 placeholder:text-xs placeholder:text-ink-muted">
        <div class="flex justify-center items-end gap-1 absolute right-4 top-[30%]">
            <app-icon [iconName]="'Search01Icon'" [iconSize]="14" [iconColor]="'currentColor'"></app-icon>
        </div>
        @if (showDropDown) {
    <ul class="bg-ink-2 absolute z-9999 w-full mt-14 max-h-44 overflow-y-auto border border-ink-border rounded-lg shadow-lg animate-fade-in">
      @for (place of searchRes; track place.place_id) {
        <li>  
          <button 
            type="button"
            (click)="selectLocation(place)"
            class="w-full text-right px-4 py-2.5 text-xs text-ink-muted flex items-center gap-2 transition-colors">
            <span><app-icon [iconName]="'Location01FreeIcons'" [iconSize]="12" [iconColor]="'#d32e18'"></app-icon></span>
            <span class="truncate">{{ place.display_name }}</span>
          </button>
        </li>
      }
    </ul>
}
    </div> 
    <!--controls-->
    <div class="absolute left-4 top-[2%] flex gap-3 z-10">
    <button (click)="recenter()" title="موقعك الحالي" class="w-10 h-10 bg-ink-2 shadow-xl rounded-xl flex items-center justify-center hover:bg-ink-3 transition-all duration-500">
    <app-icon [iconName]="'Target02FreeIcons'" [iconSize]="16" [iconColor]="'currentColor'"></app-icon>
    </button>
    <button (click)="toggelLayersMenue()" class="w-10 h-10 bg-ink-2 shadow-xl rounded-xl flex items-center justify-center hover:bg-ink-3 transition-all duration-500">
      <app-icon [iconName]="'LayerIcon'" [iconSize]="16" [iconColor]="'currentColor'"></app-icon>
    </button>
    <!--Layers-->
    @if (isLayersOpen()) {
      <div class="absolute top-12 left-[15%] w-44 bg-ink-2 backdrop-blur-md p-4 rounded-xl shadow-xl border border-ink-border">
        <div class="flex justify-between items-center mb-4 px-1">
    <span class="text-xs font-bold text-ink-muted">الطبقات</span>
    <button (click)="toggelLayersMenue()" class="cursor-pointer">
        <app-icon [iconName]="'Close'" [iconSize]="14" [iconColor]="'currentColor'"></app-icon>
    </button>
  </div>
  <div class="space-y-4">
    <div class="flex items-center justify-between cursor-pointer m-0 p-2 rounded-sm hover:bg-ink-3 transition-all duration-500">
      <span class="text-xs font-bold">مواعيدي</span>
      <input type="checkbox" [checked]="layers().appointments" (click)="toggelLayers('appointments')" class="w-4 h-4 black">
    </div>

    <div class="flex items-center justify-between cursor-pointer m-0 p-2 rounded-sm hover:bg-ink-3 transition-all duration-500">
      <span class="text-xs font-bold">الأصدقاء</span>
      <input type="checkbox" [checked]="layers().friends" (click)="toggelLayers('friends')" class="w-4 h-4 black">
    </div>

    <div class="flex items-center justify-between cursor-pointer m-0 p-2 rounded-sm hover:bg-ink-3 transition-all duration-500">
      <span class="text-xs font-bold">الفعاليات</span>
      <input type="checkbox" [checked]="layers().events" (click)="toggelLayers('events')" class="w-4 h-4 black">
    </div>
  </div>
      </div>
    }
    </div>
    <!--key-->
    <div class="absolute right-4 bottom-6 p-3 bg-ink-2 rounded-2xl shadow-soft border border-ink-border h-40 w-28 min-w-40 z-10">
      <h4 class="font-bold text-sm text-ink-muted mb-2">المفتاح</h4>
      <ul class="space-y-0.5">
    <li class="flex items-center justify-start gap-1">
      <span class="w-3 h-3 rounded-full bg-blue-500 shadow-sm"></span>
      <span class="text-sm font-medium">موقعك</span>
    </li>
    <li class="flex items-center justify-start gap-1">
      <span class="w-3 h-3 rounded-full bg-primary-500 shadow-sm"></span>
      <span class="text-sm font-medium">موعد قادم</span>
    </li>
    <li class="flex items-center justify-start gap-1">
      <span class="w-3 h-3 rounded-full bg-black shadow-sm"></span>
      <span class="text-sm font-medium">مواعيد اليوم</span>
    </li>
    <li class="flex items-center justify-start gap-1">
      <span class="w-3 h-3 rounded-full bg-orange-500 shadow-sm"></span>
      <span class="text-sm font-medium">فعاليات قريبة</span>
    </li>
    <li class="flex items-center justify-start gap-1">
      <span class="w-3 h-3 rounded-full bg-success shadow-sm"></span>
      <span class="text-sm font-medium">أصدقاء نشطون</span>
    </li>
      </ul>  
   </div>
</div>