.left-circle::before{
    content: '';
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0E0E0E2E;
    position: absolute;
    top: 0;
    left: -15%;
}

.right-circle::after{
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #D32E1859;
    position: absolute;
    top: 30%;
    right: -20%;
}

.small-circle::before{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #D32E1859;
    position: absolute;
    bottom: -300%;
    left: -300%;
}