<section class="py-14 px-20 bg-[#D32E180A]">
    <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto items-center">
     <div class="flex flex-col gap-5">
        <h2 class="text-6xl  font-bold my-0">
        <p>ابدأ رحلتك نحو</p>
        <p>تنظيم أفضل</p>
        </h2>
        <div class="flex items-center gap-5 relative">
            <app-icon class="p-4 pb-1.5 rounded-2xl shadow-(--shadow-main) bg-(--card-bg)" [iconName]="'UserAdd01FreeIcons'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-sm font-bold text-(--bg-color) bg-primary-600 border-2 border-transparent rounded-full -top-2 -inset-s-2">1</div>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">أنشئ حسابك</p>
                <span class="text-(--muted-fg) text-[20px]">سجل حسابك في ثوانٍ معدودة و ابدأ في استكشاف الإمكانيات .</span>
            </div>
        </div>
        <div class="flex items-center gap-5 relative">
            <app-icon class="p-4 pb-1.5 rounded-2xl shadow-(--shadow-main) bg-(--card-bg)" [iconName]="'PlusMinusSquare01Icon'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-sm font-bold text-(--bg-color) bg-primary-600 border-2 border-transparent rounded-full -top-2 -inset-s-2">2</div>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">أضف مواعيدك</p>
                <span class="text-(--muted-fg) text-[20px]">حدد مواعيدك، مهامك، و مواقعك الجغرافية بسهولة .</span>
            </div>
        </div>
        <div class="flex items-center gap-5 relative">
            <app-icon class="p-4 pb-1.5 rounded-2xl shadow-(--shadow-main) bg-(--card-bg)" [iconName]="'AlarmClockFreeIcons'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-sm font-bold text-(--bg-color) bg-primary-600 border-2 border-transparent rounded-full -top-2 -inset-s-2">3</div>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">احصل على تنبيهات</p>
                <span class="text-(--muted-fg) text-[20px]">سنقوم بتذكيرك قبل الموعد ب 30 دقيقة لنضمن جهوزيتك .</span>
            </div>
        </div>
        <div class="flex items-center gap-5 relative">
            <app-icon class="p-4 pb-1.5 rounded-2xl shadow-(--shadow-main) bg-(--card-bg)" [iconName]="'Flag02FreeIcons'" [iconSize]="30" [iconColor]="'#d32e18'"></app-icon>
            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-sm font-bold text-(--bg-color) bg-primary-600 border-2 border-transparent rounded-full -top-2 -inset-s-2">4</div>
            <div>
                <p class="text-(--fg-color) font-semibold text-3xl">وصلت في الموعد</p>
                <span class="text-(--muted-fg) text-[20px]">استخدم الخريطة للوصول لهدفك و كن دائماً الشخص المنظم .</span>
            </div>
        </div>
     </div>
     <div class="flex justify-center items-center">
        <div class="relative h-96 w-96 rounded-full border-12 border-primary-500 bg-(--bg-color) flex flex-col justify-center items-center 
        left-circle right-circle" data-aos="zoom-in" data-aos-delay="100">
            <div class="small-circle p-2.5 pb-0 text-center absolute top-[25%] bg-[#D32E181C] rounded-full">               
               <app-icon [iconName]="'Flag02FreeIcons'" [iconSize]="50" [iconColor]="'#d32e18'"></app-icon>
            </div>
            <p class="absolute top-[50%] font-bold text-(--fg-color) text-3xl">تهانينا !</p>
            <p class="absolute top-[63%] text-lg font-semibold text-(--muted-fg)">لقد وصلت في الموعد المحدد تماماً</p>
        </div>
    </div>
    </div>
</section>