<div class="bg-(--bg-color) text-(--fg-color) overflow-hidden">
  <app-landing-navbar></app-landing-navbar>
  <app-intro-section></app-intro-section>
  <app-why-plan-go-section id="why"></app-why-plan-go-section>
  <app-features-section id="features"></app-features-section>
  <app-start-section id="start"></app-start-section>
  <app-subscribtion-section id="subscribtion"></app-subscribtion-section>
  <app-team-section id="team"></app-team-section>
  <app-landing-footer></app-landing-footer>
</div>
