@keyframes wiggle {
    0% , 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
}
@keyframes pushUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-300px);
      opacity: 0;
    }
}
.animate-wiggle {
    display: inline-block;
    animation: wiggle 2s ease-in-out infinite;
}
.animate-pushUp:active {
    animation: pushUp 5s ease-out forwards;
}