<section class="p-20 bg-primary-500 text-white">
    <div class="grid grid-cols-4 gap-10">
        <div>
            <div class="pb-4 flex justify-center items-end gap-4 border-b border-white">
               <img class="w-10" src="/images/PlanGoLogo-white.png" alt="PlanGo logo"/>
               <p class="font-bold text-4xl">بلان جو</p>
            </div>
            <p class="mt-4 text-xl">نحن نؤمن بأن الوقت هو أغلي ما يملكه الإنسان، و لذلك نسعى لتوفير أفضل الأدوات لإدارته بكفاءة .</p>
            <div class="mt-4 text-center">
                <span class="mx-1 px-2 pt-3.5 pb-0.5 rounded-xl hover:bg-primary-600 transition-all duration-700 bg-primary-400 cursor-pointer"><app-icon [iconColor]="'white'" [iconName]="'Facebook02FreeIcons'"></app-icon></span>
                <span class="mx-1 px-2 pt-3.5 pb-0.5 rounded-xl hover:bg-primary-600 transition-all duration-700 bg-primary-400 cursor-pointer"><app-icon [iconColor]="'white'" [iconName]="'GithubIcon'"></app-icon></span>
                <span class="mx-1 px-2 pt-3.5 pb-0.5 rounded-xl hover:bg-primary-600 transition-all duration-700 bg-primary-400 cursor-pointer"><app-icon [iconColor]="'white'" [iconName]="'Linkedin02FreeIcons'"></app-icon></span>
                <span class="mx-1 px-2 pt-3.5 pb-0.5 rounded-xl hover:bg-primary-600 transition-all duration-700 bg-primary-400 cursor-pointer"><app-icon [iconColor]="'white'" [iconName]="'NewTwitterIcon'"></app-icon></span>
            </div>
        </div>
        <div>
            <p class="text-center pb-4 font-bold text-4xl border-b border-white">روابط سريعة</p>
            <div class="flex flex-col items-center mt-4 text-xl">
                <a routerLink="/" fragment="why" class="cursor-pointer hover:scale-105 transition-all duration-700">عن بلان جو</a>
                <a routerLink="/" fragment="features" class="cursor-pointer hover:scale-105 transition-all duration-700">المميزات</a>
                <a routerLink="/" fragment="start" class="cursor-pointer hover:scale-105 transition-all duration-700">كيف يعمل</a>
                <a routerLink="/" fragment="subscribtion" class="cursor-pointer hover:scale-105 transition-all duration-700">الأسعار</a>
                <a routerLink="/" fragment="team" class="cursor-pointer hover:scale-105 transition-all duration-700">الفريق</a>
            </div>
        </div>
        <div>
            <p class="text-center pb-4 font-bold text-4xl border-b border-white">صفحات أساسية</p>
            <div class="flex flex-col items-center mt-4 text-xl">
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">لوحة التحكم</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">المواعيد</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">التقويم</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">الخريطة</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">الفعاليات</a>
            </div>
        </div>
        <div>
            <p class="text-center pb-4 font-bold text-4xl border-b border-white">تواصل معنا</p>
            <div class="flex flex-col items-center mt-4 text-xl">
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">تواصل مع الدعم</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">الأسئلة الشائعة</a>
                <a class="cursor-pointer hover:scale-105 transition-all duration-700">ساعدنا في التطوير</a>
            </div>
        </div>
    </div>
    <div class="text-center mt-10">
        <p class="text-2xl">جميع الحقوق محفوظة لفريق بلان جو <span class="text-sm">&copy;2026</span></p>
        <div class="flex justify-center gap-5 text-lg">
            <span>سياسة الخصوصية</span>
            <span>الشروط و الأحكام</span>
        </div>
    </div>
</section>