<section class="mt-8 bg-(--card-bg) py-4 rounded-[10px] shadow-lg shadow-(--main-shadow-color)">
  <div class="px-3 pb-4">
    <h2 class="text-2xl font-bold text-(--fg-color)">الفعاليات المشترك بها</h2>
  </div>

  <div class="flex flex-col gap-1">
    @for (event of events(); track event.id) {
        <div class="bg-(--box-bg) m-3 my-1 rounded-2xl">
        <div class="flex items-center justify-between p-5">
            <span class="text-lg font-bold text-(--fg-color)">{{ event.title }}</span>
            <span class="text-xs text-(--muted-fg) mt-0.5">{{ event.date }} ، {{event.location}}</span>
        </div>
        <div class="flex justify-evenly w-full mb-3">
        <button class="btn-main-red p-1 rounded-[5px] w-[45%]">رؤية علي الخريطة</button>
        <button class="btn-main-white p-1 rounded-[5px] w-[45%]">دعوة الأصدقاء</button>
        </div>
        </div>
    } @empty {
      <div class="flex items-center justify-center gap-2 text-center py-10 rounded-2xl border border-dashed border-gray-200">
        <app-icon [iconName]="'SearchSlash'" [iconColor]="'#d32e18'"></app-icon>
        <p class="text-primary-500 text-lg">لا توجد فعاليات مشترك بها قادمة</p>
      </div>
    }
  </div>
</section>